@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #000000;
    --foreground: #ededed;
    --bg-box: rgb(20, 20, 20);
    --info-text: rgb(178, 178, 178);
}

@media (prefers-color-scheme: dark) {
    /* :root {
        --background: #000000;
        --foreground: #ededed;
    } */
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .bg-box {
        background: var(--bg-box);
    }

    .text-info {
        color: var(--info-text);
        font-size: 14px;
        font-weight: normal;
    }
}
